.ticket-search {
  width: 729px;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 20px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ticket-search__search-parameter {
  width: 100%;
}

.ticket-search__title {
  font-size: 30px;
  font-weight: 300;
  color: white;
  padding: 0;
}

.field-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7px;
}

.ticket-search__city-search-field {
  width: 325px;
  height: 60px;

  border: 0;
  border-radius: 3px;

  font-size: 18px;
  font-weight: 400;
  color: #E5E5E5;

  padding-left: 21px;
  box-sizing: border-box;
}

.ticket-search__date-search-field {
  width: 325px;
  height: 60px;

  border: 0;
  border-radius: 3px;
  padding-left: 21px;

  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;

  padding-left: 21px;
  box-sizing: border-box;

  appearance: none;
}

.ticket-search__switch-cities-button {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  cursor: pointer;
}

.ticket-search__submit-button {
  width: 325px;
  height: 60px;

  border: 0;
  border-radius: 3px;

  background-color: #FFA800;
  font-weight: 700;
  font-size: 24px;
  color: #292929;

  cursor: pointer;
}