.header {
    width: 1920px;
    position: relative;
}

.header_home {
    width: 1920px;
    height: 985px;
    position: relative;
    border-bottom: 8px solid #FFA800;
}

.header_home::before {
    content: '';
    background-image: url('/img/background-train.png');
    background-size: cover;
    transform: rotateY(180deg);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.69;
}


/**/

  
.content-container_header {
    height: 985px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.homepage-header__content {
    display: flex;
    height: 574px;
    width: 100%;
}

