.header {
    position: absolute;
    width: 1920px;
}

.logo-container {
    display: flex;
    align-items: center;

    height: 64px;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo {
    font-weight: 900;
    font-size: 36px;
    color: #E5E5E5;
}

.menu {
    height: 94px;

    background-color: #292929;

    display: flex;
    align-items: center;
}

.menu__item {
    font-size: 30px;
    font-weight: 300;
    margin-right: 40px;
    color: white;
    cursor: pointer;
}