.about-us {
    display: flex;
    align-items: center;
    height: 564px;
    background-color: white;
  }
  
  .about-us__title {
    font-size: 36px;
    font-weight: 500;
  }
  
  .about-us__text {
    font-size: 24px;
    font-weight: 400;
  
    border-left: 9px solid #FFA800;
    padding-left: 19px;
  }
  
  .about-us__text_highlighted {
    font-weight: 700;
  }