@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf");
  font-weight: 900;
}



body {
  width: 1920px;
  margin: 0 0;
}

#root {
  width: 100%;
  font-family: "Roboto";
}

.content-container {
  padding: 0 260px;
}

.homepage-interactive-button:hover {
  background-color: #FFCA62;
  border: transparent;
  color: #2D2B2F;
  cursor: pointer;
}

.homepage-interactive-button:active {
  background-color: #FFFFFF;
  color: #2D2B2F;
  cursor: pointer;
}

.ticket-search__interactive-button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.ticket-search__interactive-button:active {
  background-color: transparent;
  color: #FFA800;
  border: 1px solid #FFA800;
  box-shadow: 0px 4px 4px 0px #00000040;
}